.rrethmeje{
	font-family: open-sans, sans-serif;
	font-weight: 500;
	font-style: normal;
}

div{
	margin-left: 210px;
	margin-top: 20px;
	font-family: open-sans, sans-serif;
}

div p b{
	font-family: open-sans, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#kontakti{
	margin-left: 300px;
}

#rrw{
	margin-left: 300px;
}