.qrcode{
	height: 100px;
	width: 100px;
}

#qrcode   a:hover:not(.active) {
    background-color: white;
}
#qrcode{
	height: 150px;
	width: 150px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
	text-decoration: none;
}

h2{
	text-align: center;
}
